/* overall window */
window {
    background-color: #171b22;
    border: 2px solid #91a1b8;
    padding: 2px;
    font-family: "monospace";
    font-size: 15px;
    color: #e8f1ea;
}

/* input box */
#input {
background-color: #171b22;
border: 2px solid #91a1b8;
padding: 11px;
font-family: "monospace";
font-size: 17px;
color: #e8f1ea;
}

/* each item in the list */
#entry {
background-color: #171b22;
border: 2px solid #91a1b8;
padding: 4px;
font-family: "monospace";
font-size: 15px;
color: #e8f1ea;
}

/* selected entry */
#entry:selected {
background-color: #273549;
color: #e8e9ee;
}

/* scroll container */
#scroll {
margin-top: 0px;
}

/* text alignment */
#text {
padding-left: 6px;
}

/* hide scrollbar completely */
scrollbar,
scrollbar * {
    all: unset;
    background: none;
    border: none;
    box-shadow: none;
    opacity: 0;
}

/* get rid of green dot ticks if gtk injects them */
undershoot,
.fine-ticks,
tickmarks,
tick,
tickmark {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    color: transparent !important;
    opacity: 0 !important;
}

/* prevent outlines on focus */
window:focus,
#entry:focus,
#input:focus {
outline: none;
box-shadow: none;
}
